<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spino is down!</title>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">

    <style>
        .down {
            background-color: #31698C;
            color: #FFFFFF;
            text-align: center;
            font-size: 16px;
        }

        .down h1 {
            font-weight: bold;
            margin-top: 100px;
        }

        .jap {
            margin-top: 50px;
            font-size: 120px;
        }
    </style>

</head>
<body class="down">
    <div class="container">
        <h1>There is a fly in the ointment!</h1>
        <h2>Spino seems to be down.</h2>
        <p>
            Probably for maintenance. Or because something went wrong.<br>
            Anyway, do not panic. Everything is backed up. Things are going to be fixed.
        </p>
        <h1 class="jap">ヽ(ﾟДﾟ)ﾉ</h1>
    </div>
</body>
</html>