<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.min.css">
    <link href="/static/spino/styles.signin.css" rel="stylesheet">
    <title>Reset password - Spino</title>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand btn btn-link" href="/"><span class="glyphicon glyphicon-home"></span> Spino</a>
            </div>
        </div>
    </div>

    <div class="container">

        {% if alert == 'danger' %}
        <div class="alert alert-danger">That email address doesn't match any user accounts.</div>
        {% elif alert == 'success' %}
        <div class="alert alert-info">
            <strong>New password sent!</strong><br>
            We've sent you an email containing your new password. <a href="/signin">Return to sign in.</a>
        </div>
        {% end %}

        <div id="auth">
            <form action="/password_reset" method="post">
                <h2>Reset password</h2>
                <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>

    {% include footer.html %}
</body>
</html>